In [ ]:
""" Q1. What is a database? Differentiate between SQL and NoSQL databases."""
#Ans: A database is a structured collection of data that is organized and stored in a way that allows for efficient
# retrieval, management, and manipulation of information. Databases are used in various applications and systems 
# to store and manage large volumes of data, making it easy to access, update, and analyze information. 
# SQL (Structured Query Language) and NoSQL (Not Only SQL) are two different types of database management
# systems, each with its own strengths and use cases.
#     Diffrence between SQL and NoSQL databases depends on the specific requirements of the application,
# the nature of the data, and the scalability needs. SQL databases are ideal for well-defined, structured 
# data and complex queries, while NoSQL databases excel in handling large volumes of unstructured
 #or semi-structured data and offer better scalability and flexibility

In [ ]:
""" Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example."""
#Ans:  DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language)
# used to define and manage the structure or schema of a database. DDL commands are responsible for
# creating, modifying, and deleting database objects such as tables, indexes, views, and more. These commands
# elp in designing and organizing the database to store and manage data effectively.

# 1. CREATE:
# The CREATE command is used to create new database objects, such as tables, views, indexes, etc. 
# It defines the structure of the object and allocates space for storing data.
CREATE TABLE Employees (
    ID INT PRIMARY KEY,
    Name VARCHAR(50),
    Age INT,
    Department VARCHAR(50)
);

In [ ]:
# 2. DROP:
# The DROP command is used to remove existing database objects such as tables, views, or indexes. Be cautious 
# when using the DROP command, as it permanently deletes the object and its data.
DROP TABLE Employees;

In [ ]:
#3. ALTER:
# The ALTER command is used to modify the structure of an existing database object, such as adding, modifying, or
# deleting columns from a table.
ALTER TABLE Employees
ADD Salary DECIMAL(10, 2);

In [ ]:
# 4. TRUNCATE:
# The TRUNCATE command is used to remove all rows from a table, effectively deleting all data within it. However,
# it does not delete the table structure like the DROP command does.
TRUNCATE TABLE Employees;

In [ ]:
""" Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example."""
#Ans: DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) used to 
# interact with the data within a database. DML commands are responsible for adding, modifying, and deleting 
# ata from the database tables. These commands allow users to retrieve, insert, update, and delete records, 
# enabling them to manipulate the data stored in the database.

# 1. INSERT:
# The INSERT command is used to add new records (rows) into a database table.
INSERT INTO Employees (ID, Name, Age, Department)
VALUES (101, 'John Doe', 30, 'HR');

In [ ]:
# 2. UPDATE:
# The UPDATE command is used to modify existing records (rows) in a database table.
UPDATE Employees
SET Department = 'Finance'
WHERE ID = 101;

In [ ]:
# 3. DELETE:
# The DELETE command is used to remove one or more records (rows) from a database table
DELETE FROM Employees
WHERE ID = 101;

In [ ]:
""" Q4. What is DQL? Explain SELECT with an example."""
#Ans: DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language)used to retrieve data 
# from a database. DQL commands are primarily concerned with querying and fetching data from database tables.
# The SELECT command is used to retrieve data from one or more database tables. It allows you to specify the
# columns you want to retrieve and apply various conditions to filter the data. Here's how the SELECT command
# works with an example:
SELECT Name, Age
FROM Students
WHERE Subject = 'Mathematics';

In [ ]:
""" Q5. Explain Primary Key and Foreign Key."""
#Ans:Primary Key:
#A primary key is a unique and non-null identifier for a record in a database table. It uniquely identifies
# each row within the table and ensures that no two rows can have the same primary key value. The primary key plays
# a crucial role in maintaining data integrity and establishing relationships between tables in a relational database.

# Foreign Key:
# A foreign key is a column or a set of columns in a table that refers to the primary key of another table.
# It establishes a relationship between two tables and helps maintain data integrity by enforcing referential
# integrity constraints. The foreign key column in one table references the primary key of another table, allowing
# data to be linked across tables.

In [ ]:
""" Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method."""
#Ans: 
import mysql.connector

# Establishing the connection to MySQL
connection = mysql.connector.connect(
    host="your_host",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Creating a cursor object to interact with the database
cursor = connection.cursor()

# Example: SELECT query
query = "SELECT * FROM your_table_name;"
cursor.execute(query)

# Fetching and displaying the results
for row in cursor.fetchall():
    print(row)

# Closing the cursor and the connection
cursor.close()
connection.close()

In [ ]:
# cursor() Method:

# The cursor() method is used to create a cursor object that allows you to interact with the database using SQL queries.
# The cursor object acts as a pointer to a specific position in the result set of a query. It helps you navigate and manipulate data retrieved from the database.
# You can think of the cursor as an instance of the connection that allows you to execute SQL commands and retrieve data.
# execute() Method:

# execute() Method:

# The execute() method is used to execute SQL queries or statements using the cursor object.
# It takes an SQL query as an argument and sends the query to the database for execution.
# The results of the query (if any) can be fetched using methods like fetchone(), fetchall(), etc., which are called on the cursor object after executing the query.
# The execute() method is often used with SELECT, INSERT, UPDATE, DELETE, and other SQL statements.

In [ ]:
""" Q7. Give the order of execution of SQL clauses in an SQL query."""
#Ans: In SQL, an SQL query generally follows a specific order of execution for its clauses. The standard order of
# execution for the clauses in an SQL query is as follows:

#1. FROM: The FROM clause is executed first, specifying the tables from which data will be retrieved or 
# manipulated. It defines the source tables for the query.

#2. JOIN: If there are any join operations in the query (e.g., INNER JOIN, LEFT JOIN, etc.), the JOIN clause is 
# executed next to combine rows from different tables based on the specified conditions.

#3. WHERE: The WHERE clause is executed after the FROM and JOIN clauses. It filters the rows returned by the 
# FROM and JOIN clauses based on specified conditions.

#4. GROUP BY: If there is a GROUP BY clause in the query, it is executed next. It groups the results into sets 
# based on the specified columns.

#5 .HAVING: If a HAVING clause is present, it is executed after the GROUP BY clause. It filters the grouped rows
# based on conditions.

#6. SELECT: The SELECT clause is executed after all the previous clauses. It specifies the columns to be included
# in the result set.

#7. DISTINCT: If the DISTINCT keyword is used, it is executed after the SELECT clause to remove duplicate rows 
# from the result set.

#8. ORDER BY: The ORDER BY clause is executed next to sort the result set based on the specified columns and sort
# order.

#9. LIMIT/OFFSET: Finally, if there is a LIMIT clause (and sometimes an OFFSET clause), it is executed last.
# The LIMIT clause restricts the number of rows returned in the result set, and the OFFSET clause specifies 
# how many rows to skip before starting to return rows.