In [9]:
#1 question
# "FOR" loop is used to iterative purpose when the number of iteration is known while "WHILE" loop is used when we have
# a condition and need to iterate the loop till the condition becomes false
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
l=985
i=1
while i<l:
    print(i)
    i=i*4

1
4
16
64
256

In [26]:
#2. Sum and Product of first 10 natural number
summ=0
pro=1
for i in range(10):
    summ=summ+i+1
    pro=pro*(i+1)
print("Sum is:",summ,"Product is:",pro)

Sum is: 55 Product is: 3628800

In [32]:
summ=0
pro=1
i=1
while i<=10:
    summ=summ+i
    pro=pro*i
    i=i+1
print("Sum is:",summ,"Product is:",pro)

Sum is: 55 Product is: 3628800

In [8]:
#3. Electricity bill
unit = int(input("Enter the number of units consumed in a month:"))
if unit<=100:
    bill =unit*4.5
elif unit>100 and unit<=200:
    bill=100*4.5+(unit-100)*6
elif unit>200 and unit<=300:
    bill=100*4.5+100*6+(unit-200)*10
else:
    bill=100*4.5+100*6+100*10+(unit-300)*20
bill

Enter the number of units consumed in a month: 310

2250.0

In [14]:
#4. Cube inside a new list
l=list(range(1,101))
l1=[]
for i in l:
    if (i**3)%4==0 or (i**3)%5==0:
        l1.append(i)
l1

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

In [31]:
#5. count no. of vowels
str="I want to become a data scientist"
print(str)
count=0
for i in str.lower():
    if(i=="a" or i=="e" or i=="i" or i=="o" or i=="u"):
        count=count+1
count

I want to become a data scientist

12