In [2]:
""" Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series."""
import pandas as pd
data = [4, 8, 15, 16, 23,42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
""" Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it."""
l =[32,324,"dfds", True, 32, 'edf', [1,2,3,4], "none", (231,345), "ayush"]
ser =  pd.Series(l)
print(ser)

0              32
1             324
2            dfds
3            True
4              32
5             edf
6    [1, 2, 3, 4]
7            none
8      (231, 345)
9           ayush
dtype: object

In [6]:
"""Q3. Create a Pandas DataFrame that contains the following data: Then, print the DataFrame. """

data1 = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

# Create the DataFrame
df = pd.DataFrame(data1)

# Print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [7]:
"""Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example. """
#Ans : In pandas, a DataFrame is a two-dimensional labeled data structure. It can be thought of as a table or 
# spreadsheet, where data is organized in rows and columns. Each column in a DataFrame is a Pandas Series, and 
# the entire DataFrame can be seen as a collection of Series with a shared index.

# Dataframe is like 2D object while series in 1D. Dataframes can have multiple datatypes while series can have only
# one type of data type.

# Example DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print("DataFrame:")
print(df)

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [8]:
# In this example, we have created a DataFrame containing three columns (Name, Age, and Gender) and three rows
# of data. Each column represents a Pandas Series. For instance, the 'Name' column is a Series with values 
# ['Alice', 'Bob', 'Claire'] and an index [0, 1, 2]. Similarly, the 'Age' column is a Series with values 
# [25, 30, 27] and the 'Gender' column is a Series with values ['Female', 'Male', 'Female']. The DataFrame 
# combines these three Series into a tabular data structure.

In [9]:
"""Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions? """
#Ans: Some common functions are: head(), info(), tail(), describe(), shape, drop(), groupby() etc.

# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire', 'David', 'Emma'],
    'Age': [25, 30, 27, 24, 29],
    'Gender': ['Female', 'Male', 'Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

# Group by 'Gender' and calculate the average age for each group
average_age_by_gender = df.groupby('Gender')['Age'].mean()

print(average_age_by_gender)

Gender
Female    27.0
Male      27.0
Name: Age, dtype: float64

In [ ]:
"""Q6. Which of the following is mutable in nature Series, DataFrame, Panel?"""
#ANS: Among the options given (Series, DataFrame, Panel), both Series and DataFrame are mutable in nature, while
# Panel is not.

# 1. Series: A Pandas Series is mutable, meaning you can modify its elements after it is created. You can change
# the values, add new elements, or delete existing ones.

# 2. DataFrame: A Pandas DataFrame is also mutable. You can modify the values in any cell, add new rows or columns,
# and delete existing rows or columns.

# 3. Panel: However, a Panel is not mutable. Panels were used in older versions of Pandas to represent 
# three-dimensional data, but they have been deprecated since version 0.25.0. Instead, you can use the more
# flexible and powerful multi-dimensional DataFrame (with hierarchical indexing) to handle complex data structures.

In [10]:
"""Q7. Create a DataFrame using multiple Series. Explain with an example. """
#Ans: 
# Creating individual Series
name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Female', 'Male', 'Female'])

# Combining the Series to create the DataFrame
df = pd.DataFrame({
    'Name': name_series,
    'Age': age_series,
    'Gender': gender_series
})

# Print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
#